<%= form_tag reset_path, :method => :post do %>
  <p><%= label_tag :email_address, 'Reset your password:' %></p>
  <p><%= email_field_tag :email_address, placeholder="email address" %></p>
  <p><%= submit_tag 'Send reset email', class: 'button' %></p>
<% end %>


<!-- <div class="form wrapper col-1-4">
  <h2>Log in</h2>
  <%= form_tag '/sessions' %>
    <p><input type="text" name="email_address" placeholder="Email address"></p>
    <p><input type="password" name="password" placeholder="Password"></p>
    <p>
      <input class="button" type="submit" value="Log in"> 
      <%= link_to "Forgotten Password?", reset_path %>
    </p>
  </form>
</div> -->