<!DOCTYPE html>
<html>
  <head>
    <title>Noq</title>
    <%= include_gon %>
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="wrapper">
      <header role="banner">
        <nav class="main_navigation" role="primary">
          <% if current_user %>
            <%= link_to 'Log out', logout_path %>
          <% end %>
        </nav>
        <div>
          <h1>NoQ</h1>
        </div>
      </header>
      <div id="noq" class="content">
        <% if flash[:notice] %>
          <div class="alert"><%= flash[:notice] %></div>
        <% end %>
        <% if flash[:error] %>
          <div class="error"><%= flash[:error] %></div>
        <% end %>

        <%= yield %>
      </div>
      <footer>
        <p>&copy; 2013 Rob Anderson</p>
      </footer> 
    </div>
  </body>
</html>

  