<!DOCTYPE html>
<html>
<head>
  <title>Noq</title>
  <%= include_gon %>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <%= yield %>

  <script src="https://js.simperium.com/v0.1/"></script>
  <%= javascript_include_tag "application" %>
</body>
</html>
