<!DOCTYPE html>
<html>
<head>
  <title>Noq</title>
  <%= include_gon %>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <%= yield %>

  <script src="https://js.simperium.com/v0.1/"></script>
  <script type="text/javascript">
    window.SIMPERIUM_APP_ID = 'measures-star-2a4';
    window.SIMPERIUM_TOKEN = '0140d03df72843718c688ac19ec2fdc4';

    window.simperium = new Simperium(window.SIMPERIUM_APP_ID, {
      token : window.SIMPERIUM_TOKEN
    });
  </script>
  <%= javascript_include_tag "application" %>
</body>
</html>
